@{
    ViewBag.Title = "Mariu Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mariu Le Grand</title>
</head>
<body>
    <div>
        <h1>Bienvenue à toi Mariu !</h1>
    </div>
</body>
</html>
