/* Contenu du body */
body {
    background-color: rgb(20, 20, 20);
}

a:link{
    text-decoration: none;
}

.bandeau {
    display: flex;
    height: auto;
    justify-content: flex-start;
}

/* logo/titre placement */
.logo {
    display: inline;
    margin-left: 4%;
    vertical-align: middle;
}

/* logo/titre design */
.logo p {
    font-family: "Bebas Neue", Arial;
    position: relative;
    color: rgb(211,47,39);
    margin: 0 0 0 0;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;

}

p.whoAreU {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 238, 240);
    position: relative;
    display: block;
    text-align: center;
    width: current screen width;
    margin-top: 10%;
    height: 40px;
    font-size: 50px;
}

.color-sample {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 4px solid rgb(54, 54, 54);
    background-color: #900;
}

.color-sample:hover {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 4px solid rgb(236, 238, 240);
    background-color: #900;
}

.identifiant {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.identifiant a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgray;
    font-size: 20px;
    
}

.identifiant a:hover{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 238, 240);
    font-size: 20px;
}